@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://kit.fontawesome.com/3d8aae3948.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container ctn">

        <div class="row ">
            <div class="col-12 welcome">
                <p>
                    <h1 class="display-4"><i class="fas fa-book-open"></i>Witajcie w naszej księgarni online!<i class="fas fa-book-open"></i></h1>
                </p>
            </div>
            <div class="col-3 menu">
                <p>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Strona główna <br /></a>

                </p>
            </div>
            <div class="col-3 menu">
                <p>
                    <a href="#ssd">O nas</a>
                </p>
            </div>
            <div class="col-3 menu">
                <p>
                    <a href="#item3">Kontakt</a>
                </p>
            </div>
            <div class="col-3 menu">
                <p>
                    <a asp-area="" asp-controller="Books" asp-action="Index">Lista książek</a>
                </p>
            </div>
        </div>

    
    <div class="items">
        <br /><br /><br /><br />
        <p id="item4">item 4</p>
        <p id="item5">item 5</p>
        <p id="item6">item 6</p>
    </div>
    <hr />
    <div class="onas">
        <div id="ssd">
            <p>
                <h2>BartBooks!</h2>
            </p>
            <h3>
                Jest to jedna z największych księgarni Internetowych, która oferuje bogaty wybór e-booków i audiobooków. U nas każdy znajdzie coś dla siebie –
                polecamy zarówno beletrystykę, jak i książki akademickie. W swojej ofercie posiadamy ponad 70 tysięcy publikacji naukowych z wielu dziedzin,
                wśród nich ebooki z zakresu nauk ekonomicznych, humanistycznych, matematyczno-przyrodniczych, społecznych. Oferujemy wypożyczenie e-booków z takich
                kategorii jak ekonomia, zarządzanie, pedagogika, psychologia, medycyna czy prawo.
            </h3>
        </div>
    </div>
    <hr />
    <div id="item3">
        <p class="contact">
            Kontakt: <br />
            Telefon: 999 100 300 <br />
            Adres głównego budynku: 02-200 Warszawa ul. Poniatowskiego 36 B <br />
            Adres e-mail: ksiegarnia.marzen@gmail.com
        </p>
    </div>
</div>
</body>
</html>