@{
    ViewData["Title"] = "Home Page";
}
<a href="#s">Strona główna</a> | 
<a href="#ssd">O nas</a> | 
<a href="#item3">Kontakt</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="items">
    <p id="item1" class="alert-primary">
        sdasdsa
    </p>
    <p id="item2">
        Nasza Księgarnia zawiera mnóstwo książek artykułów, czasopism oraz innych tekstów, które mogą Cię zaciekawić Drogi Użytkowniku.
        Jesteśmy nowo powstałą biblioteką online na rynku, dzięki której możesz wyporzyczać książki oraz je kupować. W naszym asortymencie znajdziesz również
        wiele ebooków.
    </p>
    <p id="item3" class="contact">
        Kontakt: <br />
        Telefon: 999 100 300 <br />
        Adres głównego budynku: 02-200 Warszawa ul. Poniatowskiego 36 B <br />
        Adres e-mail: ksiegarnia.marzen@gmail.com
    </p>
    <p id="item4">item 4</p>
    <p id="item5">item 5</p>
    <p id="item6">item 6</p>
</div>

<div id="s">
    sadsadasdsadsa<br /><br /><br /><br /><br />asdasdasdsadasdasd<br /><br /><br />Sas
</div>
<hr />
<div id="ssd">
    sadaaaaaaaaaaaaaaaaaaaaaaaaaahhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
    jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<br />
    dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
    llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
    ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss<br />a
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
    wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
    eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
    rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
    ttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt
    yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
</div>
<hr />
<div id="d"><br /><br /><br /><br /><br />
    sadsadasdsadsaasdasdasdsadsadsadsadsdasdasdsad<br /><br />SADASDasDASDASDASDASDasds
</div>